# .clang-format
BasedOnStyle: Google
# Indent #pragma to current scope (useful for OpenMP pragmas)
IndentPragmas: true

# Optional: control other preprocessor directive indentation
# (None | AfterHash). Use AfterHash if you want nested #if/#endif indented.
IndentPPDirectives: AfterHash
